
@{
    ViewBag.Title = "Điểm Bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    
    <div id="googleMap" class="col-md-5" style="height: 500px">Google Map</div>
    <div class="col-md-7" style="color:white;margin-top:10px;text-align:center">
        <img src="~/img/DB.jpg" width="100%">
        <p style="margin-top:10px"><strong>Địa Chỉ</strong>: 475 A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Hồ Chí Minh </pmargin-top:10px>
        <p><strong>Số Điện Thoại</strong>: 01652343256</p>
        <p><strong>Email</strong>:LUXURYWatch@gmail.com</p>
    </div>
    <div class="clearfix"></div>
</div>
<p></p>
<div class="modal-content">
    <fb:comments href="http://tsqwatch.somee.com" colorscheme="light" numposts="5" width="100%" style="color:white"></fb:comments>
</div>

